#homepage-container {
    padding: 20px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

.product-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
    width: 280px;
    margin-bottom: 20px;
}

.product-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.game-gen-container,
.name-level,
.ability-nature-item,
.move-container,
.shiny-container,
.price-container {
    padding: 10px 20px;
    text-align: center;
}

.game-gen-container h3,
.game-gen-container h4,
.name-level h3,
.name-level h4 {
    margin: 5px 0;
}

.pokemon-image img {
    width: 100%;
    height: auto;
    display: block;
}

.ability-nature-item h4,
.move-container h5 {
    margin: 8px 0;
    font-weight: 400;
}

.move-container {
    min-height: 100px; /* Adjust this height as necessary */
}

.shiny-container h2 {
    font-size: 24px;
    margin-top: 10px;
}

.shiny {
    color: #ffcc00; /* Gold color for Shiny */
}

.not-shiny {
    color: #d9534f; /* Red color for Not Shiny */
    visibility: hidden;
}

.homepage-price-container {
    display: flex;
    justify-content: space-around;
}
.homepage-price-container h3 {
    margin: 10px 0;
    font-size: 22px;
}

NavLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-container a {
    text-decoration: none;
    display: block;
}

.product-container a:hover {
    text-decoration: none;
}

.user-product {
    padding-left: 50px;
}

#homepage-container {
    padding: 20px;
    background-color: rgba(
        245,
        245,
        245,
        0.5
    ); /* Light grey with 80% opacity */
    font-family: Arial, sans-serif;
    color: #333;
}

.cart-watchlist {
    display: flex;
    justify-content: space-around;
}

.add-to-watchlist-button {
    background-color: #c3b091; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border if any */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Show a pointer cursor on hover */
    font-size: 13px; /* Adjust font size */
    font-family: "Pixelify Sans", sans-serif; /* Optional: use your font */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-bottom: 10px;
}

.add-to-watchlist-button:hover {
    background-color: #c3b151; /* Change background color on hover */
}

.cart-button {
    background-color: #c3b091; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border if any */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Optional: rounded corners */
    cursor: pointer; /* Show a pointer cursor on hover */
    font-size: 13px; /* Adjust font size */
    font-family: "Pixelify Sans", sans-serif; /* Optional: use your font */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-bottom: 10px;
    width: 116.67px;
}

.cart-button:hover {
    background-color: #c3b151; /* Change background color on hover */
}

.cart-text {
    background-color: gray; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border if any */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Optional: rounded corners *//* Show a pointer cursor on hover */
    font-size: 13px; /* Adjust font size */
    font-family: "Pixelify Sans", sans-serif; /* Optional: use your font */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-bottom: 10px;
    text-align: center;
}

.watchlisted-text {
    background-color: gray; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove border if any */
    padding: 10px 20px; /* Adjust padding */
    border-radius: 5px; /* Optional: rounded corners */ /* Show a pointer cursor on hover */
    font-size: 13px; /* Adjust font size */
    font-family: "Pixelify Sans", sans-serif; /* Optional: use your font */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-bottom: 10px;
    text-align: center;
}

.homepage-type-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align items vertically */
    gap: 1em; /* Add some space between types if there are two */
    transform: translate(0px, 10px);
    margin-bottom: 20px
}

/* Center the types container if there is only one type */
.homepage-type-container h3 {
    text-align: center; /* Center text inside each type */
}

.filter-container {
    margin-bottom: 20px; /* Adjust as needed */
    display: flex;
    align-items: center;
    gap: 10px; /* Space between label and dropdown */
    transform: translate(30px, -60px)
}
