#landing-page-container {
    padding: 20px;
    background-color: rgba(
        245,
        245,
        245,
        0.5
    ); /* Light grey with 50% opacity */
    font-family: Arial, sans-serif;
    color: #333;
    height: 100vh; /* Cover full viewport height */
    min-height: 100vh; /* Ensure it covers at least the viewport height */
    display: flex;
    flex-direction: column;
}

.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.welcome-h1 {
    font-size: 100px;
}

.welcome-logo {
    width: 1000px;
}

.description-h2 {
    font-size: 50px;
}

.joey-pic {
    width: 300px;
}

.shop-link {
    text-decoration: none;
    color: black;
}

.shop-link:hover {
    color: brown;
    text-decoration: underline;
}
.link-to-shop {
    font-size: 75px;
}

.link-to-shop:hover {
    color: brown;
}

.featured-products {
    color: black;
}

.info-container {
    width: 300px;
}

.name-price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
