.profile-dropdown {
  position: absolute;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  border-bottom: 1px solid black;
  list-style-type: none;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#home-icon {
  width: 200px;
  height: 80px;
}

.login-logout-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.login-button {
  text-decoration: none;
  font-weight: bold;
}

.logout-button {
  text-decoration: none;
  font-weight: bold
}

.navigation-bar {
  background-color:  #c3b091
}
